/* Cambiar el color de fondo verde por morado */
div.bulma-calendar .datetimepicker-dummy .is-primary {
    background-color: #9655C5 !important;
  }
  
  /* Cambiar el color de los días seleccionados */
  div.bulma-calendar .calendar-day.is-selected {
    background-color: #9655C5 !important;
    border-color: #9655C5 !important;
    color: #fff !important; /* Asegúrate de que el texto sea legible */
  }
  
  /* Cambiar el color de las horas seleccionadas */
  div.bulma-calendar .datetimepicker-clock .is-primary {
    background-color: #9655C5 !important;
    color: #fff !important;
  }
  
  /* Cambiar los botones Validate, Clear, etc. */
  div.bulma-calendar .datetimepicker-footer button.is-primary {
    background-color: #9655C5 !important;
    border-color: #9655C5 !important;
  }
  .datepicker-nav, .is-today, button .date-item .is-active  {
    background-color: #9655C5 !important;
    border-color: #9655C5 !important;
    color: #fff !important; /* Asegúrate de que el texto sea legible */

  }
/* Cambiar el color de la fecha seleccionada */
.datetimepicker.is-primary .datepicker-body .datepicker-dates .datepicker-days .datepicker-date.datepicker-selected {
    background-color: #9655C5 !important;
    border-color: #9655C5 !important;
    color: #fff !important; /* Asegúrate de que el texto sea legible */
}

.datetimepicker.is-primary .datepicker-body .datepicker-dates .datepicker-days .datepicker-date.datepicker-range.datepicker-range-end .date-item, .datetimepicker.is-primary .datepicker-body .datepicker-dates .datepicker-days .datepicker-date.datepicker-range.datepicker-range-start .date-item {
    background-color: #9655C5 !important;
    border-color: #9655C5 !important;
    color: #fff !important; /* Asegúrate de que el texto sea legible */
}

.datetimepicker.is-primary .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item.is-active {
    background-color: #9655C5 !important;
    border-color: #9655C5 !important;
    color: #fff !important; /* Asegúrate de que el texto sea legible */
}

 .datepicker-date.datepicker-range:before {
    background: #9655C5 ;
}



.datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date.datepicker-range{
    background-color: #9655C5 !important;
    border-color: #9655C5 !important;
    color: #fff !important; /* Asegúrate de que el texto sea legible */    
}
.datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date.datepicker-range .date-item {
    background-color: #fff;
    background: #fff;
}

.datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date.datepicker-range .date-item {
    background-color: #9655C5  !important;
    background: #9655C5 !important;
}

.datetimepicker.is-primary .datetimepicker-header .datetimepicker-selection-day {
    color: #9655C5;
}

.datetimepicker.is-primary .timepicker-input, .datetimepicker.is-primary .timepicker-input-number, .datetimepicker.is-primary .timepicker-time-divider {
    color: #9655C5 !important;
}

.datetimepicker-dummy.is-primary .datetimepicker-dummy-wrapper::before, .datetimepicker-dummy.is-primary .datetimepicker-dummy-wrapper:before, .datetimepicker-dummy.is-primary::before, .datetimepicker-dummy.is-primary:before {
    background-color: #9655C5;
}

.button-save{
    background-color: #9655C5 !important;
    border-color: #9655C5 !important;
    color: #fff !important; /* Asegúrate de que el texto sea legible */
}

.save-close-button{
    position: absolute;
    bottom: 10px;  /* Asegura que quede en la parte inferior */
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}