.input-text {
    background-color: #9655C5; /* Fondo sutilmente visible */
    color: white; /* Texto blanco */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Borde tenue */
    border-radius: 5px; /* Bordes ligeramente redondeados */
    padding: 10px; /* Espaciado interno */
    font-size: 16px; /* Tamaño del texto */
    outline: none; /* Quitar el contorno por defecto */
    width: 100%; /* Ajustable al contenedor */
    height: 60%;
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Transiciones suaves */
}

.input-text::placeholder {
    color: rgba(255, 255, 255, 0.6); /* Texto del placeholder en blanco semitransparente */
}

.input-text:focus {
    background-color: rgba(255, 255, 255, 0.2); /* Fondo ligeramente más visible al enfocar */
    border-color: rgba(255, 255, 255, 0.5); /* Borde más definido al enfocar */
}

.navbar-brand {
    display: flex;
    justify-content: space-between; /* Separa los elementos */
    align-items: center; /* Centra verticalmente */
    flex-wrap: wrap; /* Permite que los elementos se apilen */
    padding: 10px;
}

.navbar-item img {
    max-width: 24px; /* Asegura que las imágenes no sean demasiado grandes */
    height: auto;
}

@media (min-width: 768px) {
    .navbar-brand {
        flex-wrap: nowrap; /* Mantén los elementos en una línea */
    }
}
@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Apila los elementos */
    }

    .signup-container {
        padding: 5px;
    }

    form {
        padding: 10px; /* Agrega espacio dentro del formulario */
    }
}
