/* ProductImage.css */
.card {
    position: relative;
}

.buttonImage {
    position: absolute;
    top: 10px; /* Controla la distancia desde el borde superior */
    background-color: #fff;
    border: none;
    border-radius: 5%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.button:hover {
    background-color: #f0f0f0; 
}

.add-button {
    width: 30px;
    height: 30px;
    right: 10px; /* Controla la distancia desde el borde derecho */
    transform: translateX(0); /* Asegura que no se desplace */
}

.modify-button {
    position: absolute; 
    top: 10px; 
    left: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: none;
    border-radius: 5%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    padding: 0; /* Elimina cualquier relleno interno */
}

.modify-button img {
    width: 20px !important;
    height: 20px !important;
}