.menu-container {
    position: relative; /* Cambiar a relativo para que el dropdown se alinee con este contenedor */
    display: inline-block; /* Asegura que el contenedor ocupe solo el espacio necesario */
}

.menu-icon {
    cursor: pointer;
    font-size: 24px;
    text-decoration: none;
    color: white;
    background-color: #9655C5;
    padding: 10px 15px;
    border-radius: 4px;
    display: inline-block;
}

.dropdown-menu {
    list-style: none;
    position: absolute; /* Dependiente de .menu-container */
    top: 100%; /* Colocado justo debajo del icono */
    left: -100px; /* Desplazado ligeramente a la izquierda */
    background-color: #9655C5;
    min-width: 150px;
    display: none; /* Oculto por defecto */
    padding: 0;
    margin: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 4px;
}


.dropdown-menu li a {
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: #7e3fa4;
}

.dropdown-menu.show {
    display: block;
    animation: slideDown 0.3s ease-in-out;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
