/* Navbar principal */
.navbar-brand-custom {
  display: flex;
  justify-content: space-between; /* Separación de los elementos */
  align-items: center; /* Centrado vertical */
  background-color: black; /* Fondo negro */
  height: 50px; /* Ajusta el tamaño según necesites */
  padding: 0 15px; /* Espaciado horizontal */
  width: 100%;
}

/* Estilo para el botón de 'back' */
.navbar-item-back,  .navbar-item-cart{
  display: flex;
  align-items: center; /* Centrado vertical */
  justify-content: center; /* Centrado horizontal */
  width: auto; /* Ajusta el tamaño al contenido */
  flex: 0 0 auto; /* Asegura que no se estire */
  color: white;
}

.cart{
  color: white;
}

.navbar-item-back img {
  width: 20px;
  height: 20px;
  filter: invert(100%) brightness(100%);
}

/* Estilo para el 'currentPage' */
.current-page {
  color: white;
  font-size: 1rem;
  white-space: nowrap; /* Evita que se corte el texto */
  text-align: center;
  flex-grow: 1; /* Asegura que ocupe el espacio disponible */
  line-height: 50px; /* Centrado vertical */
}

/* Estilo para el carrito */
.navbar-item-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto; /* Ajusta el tamaño al contenido */
}

.cart {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
}

/* Responsividad para móviles */
@media (max-width: 768px) {
  .navbar-brand-custom {
      height: 60px; /* Ajusta la altura para móviles */
      padding: 0 10px;
  }

  .navbar-item-back img,
  .navbar-item-cart img {
      width: 18px;
      height: 18px;
      color: white;
  }

  .current-page {
      font-size: 0.9rem; /* Ajusta el tamaño de la fuente en móviles */
  }
}
/* Mobile */
@media (max-width: 768px) {
  .navbar-link {
    display: none;
  }
}
/* PRODUCTS: quitar flechita */
.products-navbar .navbar-link.active::after {
  content: none;
}
.products-navbar .navbar-link {
  position: relative;
}
/* PRODUCTS — mobile: ocultar links de categorías en SubNavBar */
@media (max-width: 768px) {
  .products-page .subnav-links {
    display: none !important;
  }

  .products-page .current-page {
    display: block;
  }
}

